spring:
 datasource:
  url: jdbc:mysql://localhost:3306/1_ms?createDatabaseIfNotExist=true
  username: root
  password: root
  driverClassName: com.mysql.cj.jdbc.Driver
  
 jpa:
  hibernate:
   ddl-auto: update
  show-sql: true
