.daily-product-container {
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.daily-product-container h1 {
    display: flex;
    justify-content: center;
    padding: .5rem 0px;
    color: white;
    height: 2rem;
    background-color: #0004;
    height: 10%;
}
.daily-product-container table{
    width: 100%;
    border-collapse: collapse;
}
.daily-product-container th,.daily-product-container  td {
    padding: 1rem;
    border-collapse: collapse;
}
.daily-product-container th {
    background-color: #333333ff;
    color: white;
}
.daily-product-container td{
    text-align: center;
    border-bottom: .1px solid #00000033;
}
.EN-COURS{
    background-color: #87CEEB;
}
.TERMINE {
    background-color: aquamarine;
}
.TRANSITION {
    background-color: #FFFF0011;
}
.pagination-container {
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.pagination-item {
    background-color: white;
    padding: .5rem;
    text-align: center;
}
.pagination li:first-child {
    border-radius: 10px 0 0 10px;
}
.pagination li:last-child {
    border-radius: 0 10px 10px 0;
}
.active-page {
    background-color: #01DBFF;
    & a {
        color: white;
    }
}
.sum-production-row {
    font-weight: bold;
    background-color: #333333ff;
    color: white;
    border-top: .1px solid rgba(255, 255, 255, .4);
}
.sum-row-title {
    border-left: 1px solid white;
}
.daily-product-actions {
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.print-daily-prod {
    border: .1px solid rgba(0,0,0,0.2);
    outline: none;
}
.produit-table {
    overflow-x: auto;
}